
body{
  background-color: #ecf0f1;
}
.wrapper{
  width: 100%;
  height:100vh;
  padding: 10px;
  box-sizing: border-box;

}
.user-outer{
  width: 100%;
  height: 250px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #95a5a6;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.user-data{
  flex: 1;
  padding: 10px;
  box-sizing: border-box;

}
.user-data .description {
  font-size: 12px;
  
}

.avatar-outer{
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.avatar-outer img{
  width: 100%;
  height: auto;
  max-height: 100%;


}

/* search form styles */

.search-outer{
  width: 100%;
  height: 100px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
